[
{
   sumo_db,
   [
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{conferl_backend_pgsql,
       sumo_backend_pgsql,
       [{host, "127.0.0.1"},
        {port, 5432},
        {database, "conferl_test"},
        {username, "davecaos"},
        {password, ""}]
      }
     ]
    },
    {stores,
      [ {conferl_store_pgsql,
         sumo_store_pgsql,
         [ {storage_backend, conferl_backend_pgsql}
         , {workers, 10}]
        }
      ]
    },
    {docs,
     [ {cnf_content, conferl_store_pgsql}
     , {cnf_message,  conferl_store_pgsql}
     ]
    },
    {events,
     []
    }
   ]
 },  
 {conferl, []},
 {
   lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers,
     [
      {lager_console_backend,
       [debug,
        {lager_default_formatter,
         [
          color, time, " [", severity, "]",
          " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
          message, "\e[0m\n"
         ]
        }
       ]
      }
     ]
    }
   ]
 }
].
